modules = ["python-3.12"]
run = "streamlit run app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run app.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42310976
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false app.py"

[[ports]]
localPort = 8501
externalPort = 80
